.sectionLogin {
  text-align: center;
  padding: 30px 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
}

h1 {
  display: flex;
  font-size: 70px;
  font-weight: 850;
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 100px;
}

input[type="text"] {
  max-width: 200px;
  width: 50%;
  height: 30px;
  padding: 0 15px;
  border: 0;
  font-size: 18px;
}

span {
  font-size: 18px;
}
.join_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  margin-left: 20px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 17px;
  color: #5171dc;
  cursor: pointer;
}

/* .join_button {
  display: flex;
  margin-left: 10px;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
