.container {
  text-align: center;
  padding: 30px 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoAdd {
  all: unset;
  padding: 10px 20px;
  color: white;
}

.todobox {
  background-color: black;
  border: 5px solid coral;
  margin-right: 500px;
  margin-left: 500px;
  border-radius: 10px;
}

.itemList {
  color: white;
  display: flex;
  margin-bottom: 10px;
}

.checked {
  display: flex;
  margin-bottom: 10px;
  opacity: 0.8;
  color: white;
}

.checked > span {
  text-decoration: line-through;
}

.todoCanceled {
  all: unset;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

i {
  color: #fcfcfd;
  cursor: pointer;
}

.save_button {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
  color: #5171dc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.item {
  display: flex;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px; /* 모바일 화면에 맞게 크기 조정 */
  }

  .todobox {
    margin-top: 10px; /* 모바일 화면에 맞게 여백 조정 */
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .itemList,
  .checked {
    display: flex;
    flex-direction: column; /* 모바일 화면에 맞게 세로 방향으로 배치 */
  }
}
